<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eml_listview_test3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver android:name="FoodSiren.Widget.WidgetListview">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_list_view_info" />
        </receiver>

        <activity android:name="FoodSiren.Activity.PhotoActivity" />
        <activity android:name="FoodSiren.Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="FoodSiren.Activity.MainActivity" />
        <activity android:name="FoodSiren.Activity.EnrollActivity" />
        <activity android:name="FoodSiren.Activity.ManageActivity" />
        <activity android:name="FoodSiren.Activity.TipActivity" />
        <activity android:name="FoodSiren.Activity.EditTimeActivity" />
        <activity android:name="FoodSiren.Activity.LoadingActivity" />
        <activity
            android:name="FoodSiren.Activity.ModifyDialog"
            android:theme="@style/Theme.MyDialog" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="FoodSiren.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name="FoodSiren.Receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="FoodSiren.Widget.MyRemoteViewsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>